<!-- Will show 1 place and eventually entries for that place -->


<h1> <%= @places["name"]%></h1> 


    <%  for entry in @entries%>
     <h2><%= entry["title"]%></h2>
    <p><i><%= entry["occurred_on"]%> </i></p>
    <p><%= entry["description"]%> </p>
    <% end%>
  


<p>
  <a href="/entry/new?place_id=<%=@places["id"]%>">New Post</a>
</p>


<p>
  <a href="/places">Back to All Places</a>
</p>

